<h1>Listing Items</h1>

  <% @items.each do |item| %>

    <table>
      <tr>
        <th>Item:</th>
        <th></th>
      </tr>
      <tr>
        <td><%= item.name %></td>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th>Used in:</th>
      </tr>
      <% item.parts.each do |part| %>
        <tr id="<%= part.id %>">
          <td></td>
          <td><%= part.name %></td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <th><%= link_to 'Add part to item' %></th>
      </tr>
    </table>
    <%= link_to 'Create new item' %>

  <% end %>

</h1>